name: Python CI with Conda

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: 3.10
        activate-environment: env
        environment-file: environment.yml

    - name: List packages
      run: conda list

    - name: Lint with flake8
      run: |
        pip install flake8
        flake8 .
